/* css reset, for clearence all styling. */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
pm,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* main style */

@import url('https://fonts.googleapis.com/css?family=Roboto:500');
.wrapper-menu {
    display: flex;
    background: #80d688;
}

a {
    font-family: 'Roboto', sans-serif;
}

/* menu bar */

#menu-bar ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

#menu-bar ul a {
    display: block;
    color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    text-transform: uppercase;
    text-align: left;
}

#menu-bar ul li {
    margin: 0;
    padding: 5px;
    position: relative;
    float: left;
    background: #80d688;
}

#menu-bar ul li.current-menu {
    background: #5fe06a;
}

#menu-bar ul li:hover {
    background: #98ea9f;
}

#menu-bar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
    width: 100%;
}

#menu-bar ul ul li {
    float: none;
    width: 100%;
    min-width: 150px;
}

#menu-bar ul ul a {
    line-height: 120%;
    padding: 10px 10px;
}

#menu-bar ul ul ul {
    top: 0;
    left: 100%;
}

#menu-bar ul li:hover>ul {
    display: block;
}